name: Build, Test, Push and Pull from ACR

on:
  push:
    branches: [ master ]
    paths:
      - 'Dockerfile'   # Solo se activa cuando cambia el Dockerfile
      - 'WebAppj1/**'  # Carpeta del proyecto principal
      - 'WebAppJ1.Tests/**'   # Carpeta del proyecto de pruebas

env:
  SOLUTION_NAME: 'WebApp.sln'  # Nombre de la solución
  TEST_PROJECT: 'WebAppJ1.Tests/WebAppJ1.Tests.csproj'  # Nombre del proyecto Test
  DOTNET_VERSION: '8.0.x'  # Usar la versión adecuada para su proyecto
  ACR_IMAGE_NAME: ${{ secrets.ACR_REGISTRY }}/mi-app
  IMAGE_TAG: ${{ github.sha }} 

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
      # Obtener código fuente
      - name: Checkout code
        uses: actions/checkout@v4

      # Cache para los paquetes NuGet
      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.nuget/packages
            **/bin
            **/obj
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-


      # Version de .Net Core
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
            dotnet-version: ${{ env.DOTNET_VERSION }}

      # Dependencias Proyecto 1
      - name: Restore dependencies Proyecto 1
        run: dotnet restore ${{ env.TEST_PROJECT }}

        # Build Proyecto 1
      - name: Build Proyecto 1
        run: dotnet build ${{ env.TEST_PROJECT }} --configuration Release --no-restore

      # Dependencias
      - name: Restore dependencies
        run: dotnet restore ${{ env.SOLUTION_NAME }}

      # Build la solución
      - name: Build solution
        run: dotnet build ${{ env.SOLUTION_NAME }} --configuration Release --no-restore

      # Ejecutar pruebas unitarias
      #- name: Run unit tests
      #  run: dotnet test ${{ env.TEST_PROJECT }} --configuration Release --no-build --verbosity normal

      - name: Run tests with coverage
        run: |
          dotnet test ${{ env.TEST_PROJECT }} \
            --configuration Release \
            --collect:"XPlat Code Coverage" \
            --settings coverlet.runsettings \
            --logger trx \
            --results-directory ./TestResults

      - name: Generate coverage report
        run: |
          dotnet tool install -g dotnet-reportgenerator-globaltool
          reportgenerator \
            -reports:./TestResults/**/coverage.cobertura.xml \
            -targetdir:./CoverageReport \
            -reporttypes:Html;Cobertura

      - name: Publish test results
        uses: actions/upload-artifact@v3
        with:
          name: Test-Results
          path: ./TestResults

      - name: Publish coverage report
        uses: actions/upload-artifact@v3
        with:
          name: Coverage-Report
          path: ./CoverageReport


  acr-build-push-pull:
    needs: build-and-test  # Solo se ejecuta si las pruebas pasan
    runs-on: ubuntu-latest
    steps:
      # Obtener código fuente
      - name: Checkout code
        uses: actions/checkout@v4

      # Autenticación con Azure Container Registry
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET }}

      # Construir imagen
      - name: Build Docker image
        run: |
          docker build -t ${{ env.ACR_IMAGE_NAME }}:${{ env.IMAGE_TAG }} ./WebAppj1

      # Subir a ACR
      - name: Push Docker image
        run: |
          docker push ${{ env.ACR_IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      # Verificación: Extraer imagen
      - name: Pull Docker image
        run: |
          docker pull ${{ env.ACR_IMAGE_NAME }}:${{ env.IMAGE_TAG }}      
